{% extends "layout.html" %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<!--Couple of paragraphs about barley and my back story-->
<p>Welcome to my website about my dog! My name is Pete and I am a proud dog owner.
My furry friend is Barley, and I wanted to create this website to share our journey together with all of you.</p>
<p>Barley is a Husky/Great Pyrenees/Lab mix and has been a part of my life since she was 6 weeks old. 
When I first got Barley, I was homebrewing a batch of beer using...barley (the grain!). 
Long story short she ended up chowing down on the spent grain and that's how she earned her name. 
She has brought so much joy, love, and laughter into my life, and I can't imagine my days without her.</p>
<p>On this website, you will find all sorts of information about Barley and I plan to share our adventures
together in the future of this site. I hope to share our experiences with other dog owners and enthusiasts.</p>
<p>Thank you for visiting my website, and I hope that you enjoy reading about Barley. 
If you have any questions, comments, or media to add please feel free to reach out to me via the contact page.</p>
{% endblock %}