{% extends "layout.html" %}
{% block title %}
Navigation
{% endblock %}
{% block content %}
<!--Show menu options with links to bring user to location of menu option on the home page-->
<h1>Menu</h1>
<ul>
    <li><a href="home#option1">Breed</a></li>
    <li><a href="home#option2">Age</a></li>
    <li><a href="home#option3">Interests</a></li>
    <li><a href="home#option4">Personality</a></li>
    <li><a href="home#option5">Favorite Foods</a></li>
    <li><a href="home#option6">Events</a></li>
</ul>
{% endblock %}