<!DOCTYPE html>
<!--Does not extend layout so nav bar is hidden-->
<html>
    <head>
        <title>Update Password</title>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <link rel = "icon" href = "{{ url_for('static', filename='logo.jpeg')}}" type = "image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>
    <body>
        <h1>Update Existing Account Password</h1>
        <form action="/update" method="post">
            <div>
                <label for="password">Password</label>
                <input type="password" name="password">
                <h3>Password Requirements:</h3>
                <ul>
                    <li>at least 12 characters long</li>
                    <li>at least one upper case letter</li>
                    <li>at least one lower case letter</li>
                    <li>at least one digit</li>
                    <li>at least one special character</li>
                    <li>cannot contain ':'</li>
                    <li>cannot be found in a list of common passwords</li>
                </ul>
            </div>
            </div>
            <div>
                <input type="submit" value="Update Password">
            </div>
            <div>
                <p>Cancel and return to <a href="/menu/home">Home</a></p>
            </div>
        </form>
        <hr/>
        <footer>
            <!--Display Datetime on each page at footer-->
            {{ date.strftime("%A, %B %d, %Y at %X") }}
            <p>&copy; 2023</p>
        </footer>
    </body>
</html>